<div class=" containerForLift">

<div class="filtre">
 <div>по цене</div>
</div>

  <!--меню под Загаловком-->
  <div class="menuHead">
    <nav>
      <a href="partenaires.htm">История происхождения</a>
      <a href="partenaires.htm">-> Особенности</a>
      <a href="partenaires.htm">-> Отличия</a>
    </nav>
  </div>

  <div class="headPage"><h3>Лифты марки Мишлен</h3></div>


  <!--Боковое меню-->
  <div class="menuLift">
      <ul style="padding-left: 15px;">
        <li class="link3"><span ><a href="partenaires.htm">История происхождения</a></span></li>
        <li class="link3"><span ><a href="partenaires.htm">Особенности</a></span></li>
        <li class="link3"><a href="partenaires.htm">Отличия</a></li>
      </ul>
  </div>


<div class="contentLift">


  <div class="item1">
    <span>Ghbdtn rfrfr sdfsfsdf dqsdqsdqsdqsdqdqsdqd</span>
    <img src="../../assets/mesimages/asdТрансформатор.jpg"/>
    <p>Ghbdtn rfr ltkfsdqdqsdqdqsdqdqsd
      sdqdqsdsqdqsdqsdqsdq sdqsdqsd2222222222121212</p></div>

  <div class=" item1">
    <span>Ghbdtn rfrfr sdfsfsdf dqsdqsdqsdqsdqdqsdqd</span>
    <img src="../../assets/mesimages/asdТрансформатор.jpg"/>
    <p>Ghbdtn rfr ltkfsdqdqsdqdqsdqdqsd
      sdqdqsdsqdqsdqsdq sdqsdqsdqsd§§§§§§§§</p>
  </div>

  <div class=" item1">
    <span>Ghbdtn rfrfr sdfsfsdf dqsdqsdqsdqsdqdqsdqd</span>
    <img src="../../assets/mesimages/asdТрансформатор.jpg"/>
    <p>Ghbdtn rfr ltkfsdqdqsdqdqsdqdqsd
      sdqdqsdsqdqsdqsdq sdqsdqsdqsd§§§§§§§§</p>
  </div>

  <div class=" item1">
    <span>Ghbdtn rfrfr sdfsfsdf dqsdqsdqsdqsdqdqsdqd</span>
    <img src="../../assets/mesimages/asdТрансформатор.jpg"/>
    <p>Ghbdtn rfr ltkfsdqdqsdqdqsdqdqsd
      sdqdqsdsqdqsdqsdq sdqsdqsdqsd§§§§§§§§</p>
  </div>

  <div class=" item1">
  <span>Ghbdtn rfrfr sdfsfsdf dqsdqsdqsdqsdqdqsdqd</span>
  <img src="../../assets/mesimages/asdТрансформатор.jpg"/>
  <p>Ghbdtn rfr ltkfsdqdqsdqdqsdqdqsd
    sdqdqsdsqdqsdqsdq sdqsdqsdqsd§§§§§§§§</p>
</div>

  <div class=" item1">
    <span>Ghbdtn rfrfr sdfsfsdf dqsdqsdqsdqsdqdqsdqd</span>
    <img src="../../assets/mesimages/asdТрансформатор.jpg"/>
    <p>Ghbdtn rfr ltkfsdqdqsdqdqsdqdqsd
      sdqdqsdsqdqsdqsdq sdqsdqsdqsd§§§§§§§§</p>
  </div>

  <div class=" item1">
    <span>Ghbdtn rfrfr sdfsfsdf dqsdqsdqsdqsdqdqsdqd</span>
    <img src="../../assets/mesimages/asdТрансформатор.jpg"/>
    <p>Ghbdtn rfr ltkfsdqdqsdqdqsdqdqsd
      sdqdqsdsqdqsdqsdq sdqsdqsdqsd§§§§§§§§</p>
  </div>


</div>






</div>
