

<!--<div class="circle"></div>-->

<div class="flipcard" data-interval="1500">
  <div class="front">
    {{name}}
  </div>
  <div class="back">
    {{name}}
  </div>
</div>








<!--<div @triggerName>-->
<!--  <p>I'm going to be animated guys...</p>-->
<!--</div>-->

<!--[(ngModel)]="title"-->
<!--<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container"-->
<!--&gt;-->
<!--  <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>-->
<!--  <p>The {{ isOpen ? 'Closed' : 'Open' }}!</p>-->

<!--</div>-->




<!--<div [@descriptionState]="descriptionState"  class="flipcard h"-->
<!--&gt;-->
<!--  <p>The box is now {{ currentState ? 'initial' : 'final' }}!</p>-->
<!--  <p>The {{ currentState ? 'final' : 'initial' }}!</p>-->
<!--</div>-->






<!--<div class="flipcard h">-->
<!--  <div class="front">-->
<!--    This is the front side-->
<!--  </div>-->
<!--  <div class="back">-->
<!--    Привет-->
<!--  </div>-->
<!--</div>-->



